/* Hoja de estilo index */

#banner {
    background-color: rgb(255, 153, 0);
    font-family: 'Times New Roman';
    font-variant: small-caps;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    border-style: solid;
    height: auto;
    width: auto;
    margin-bottom: 10px;
    
}

.caja1 {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    border-radius: 100%;
    height: 200px;
    width: 200px;
    margin-left: 20px;
    position: relative;
    /* Se usa para que no se salga la imagen de la caja, ya que la imagen tiene position absolute */
}

.imagen1 {
    position: absolute;
    /* se usa en caso de este div, donde tiene la altura y el ancho definido, sin esto top, right y left no funcionarían */
    height: 100%;
    width: 100%;
    top: 0;
    /* sirve en caso de un div como este, donde tiene una altura definida, en caso de que la altura no este definida esta edición no se pone ; */
    right: 0;
    /* se debe usar para que margin 0 auto funcione */
    left: 0;
    /* se debe usar para que margin 0 auto funcione */
    margin: 0 auto;
    /* Esto lo centra */
}

#introduccion {
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    height: 200px;
    width: 900px;
    margin-left: 265px;
    margin-top: -204px;

    padding-left: 10px;
    padding-right: 10px;
    position:absolute;
 
}
#tituloIzquierda{
    color: rgb(255, 153, 0);
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
    text-align: left;
    font-weight: 100;
}
#tituloCentrado{
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    font-weight: 100;
}

.contacto{
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    height: 440px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    color:  rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    padding-right: 10px;
    word-wrap: break-word;
    position:absolute
}
#icono{
    height: 20px;
    width: 20px;
}
.estudios{
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    height: 200px;
    width: 900px;
    margin-left: 265px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    position:absolute
}
#tabla{
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.experiencia{
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    height: 150px;
    width: 900px;
    margin-left: 265px;
    margin-top: 235px;
    padding-left: 10px;
    padding-right: 10px;
    
    position:absolute
}
#cuadro{
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.habilidades{
    /*border-color: rgb(0, 0, 0);
    border-style: solid*/
    height: 210px;
    width: 200px;
    margin-left: 1210px;
    margin-top: 20px;

    text-align: left;
    color:  rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    padding-right: 10px;
    position:absolute
    
}
.aptitudes{
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    height: 230px;
    width: 200px;
    margin-left: 1210px;
    margin-top: 240px;

    text-align: left;
    color:  rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    padding-right: 10px;
    position:absolute
    
}
body {
    background-image: url("/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
    text-align: justify;
    
}
footer {
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    height: 60px;
    width: 900px;
    margin-left: 265px;
    margin-top: 400px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    position:absolute
}