/* Hoja de estilo index */
* {
    /*Da bordes y coloca los elementos pegados a la ventana*/
    /*outline: 1px solid rgb(255, 0, 0);*/
    margin: 0;
    padding: 0;
}

#banner {
    position: fixed;
    z-index: 1;
    width: 100%;

    background: linear-gradient(left, rgb(255, 94, 0), orange, white);
    /* Para Firefox*/
    background: -webkit-linear-gradient(left, rgb(255, 94, 0), orange, white);
    /* Para Chromium*/
    margin-bottom: 10px;
    top: 0;

    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;

    font-family: 'Times New Roman';
    font-variant: small-caps;
}

#divintroduccion {
    position: relative;
    width: 100%;
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/

}

#cajafoto {
    position: relative;
    /* Se usa para que no se salga la imagen de la caja, ya que la imagen tiene position absolute */
    height: 200px;
    width: 200px;
    border-style: solid;
    border-radius: 100%;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);
    margin-left: 1%;


}

#foto {
    position: absolute;
    /* se usa en caso de este div, donde tiene la altura y el ancho definido, sin esto top, right y left no funcionarían */
    height: 100%;
    width: 100%;
    top: 0;
    /* sirve en caso de un div como este, donde tiene una altura definida, en caso de que la altura no este definida esta edición no se pone ; */
    right: 0;
    /* se debe usar para que margin 0 auto funcione */
    left: 0;
    /* se debe usar para que margin 0 auto funcione */
    margin: 0 auto;
    /* Esto lo centra */
}

#introduccion {
    width: 60%;
    height: auto;
    margin-left: 270px;
    margin-top: -130px;
    padding-bottom: 60px;
}


#tituloIzquierda {
    color: rgb(255, 153, 0);
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
    text-align: left;
    font-weight: 10px;
}

#tituloCentrado {
    color: rgb(255, 255, 255);
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    font-weight: 10px;
}

.contacto {
    position: relative;
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    width: 175px;
    height: 400px;
    margin-left: 20px;
    margin-top: 20px;

    padding-left: 10px;
    padding-right: 10px;


    text-align: left;

    background-color: rgb(255, 153, 0);
    color: rgb(255, 255, 255);
    word-wrap: break-word;
}

.icono {
    height: 20px;
    width: 20px;
}

.estudios {
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    position: relative;
    width: 45%;
    margin-left: 260px;
    margin-top: -350px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.tabla {
    border: solid;
    /* 1px es lo mismo que thin */
    border-color: rgb(0, 0, 0);
    border-width: thin;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.experiencia {
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    position: relative;
    width: 60%;

    margin-left: 260px;
    margin-top: 1%;
    padding-left: 10px;
    padding-right: 10px;
}

#cuadro {
    border: solid 1px;
    border-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
ul{
    list-style: none;
    text-align: left;
    padding-left: 10px;
}
.habilidades {
    position: relative;
    /*border-color: rgb(0, 0, 0);
    border-style: solid*/
    width: 185px;
    margin-left: 1250px;
    margin-top: -21%;

    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);


}

.aptitudes {
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    width: 185px;
    margin-left: 1250px;
    margin-top: 1%;

    text-align: left;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 153, 0);


}

body {
    position: relative;
    margin-top: 5%;
    width: 100%;
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    background-image: url("fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    color: rgb(0, 0, 0);
    font-family: 'Times New Roman';
    text-align: justify;

}

footer {
    /*border-color: rgb(0, 0, 0);
    border-style: solid;*/
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

a:link {
    /* Enlaces no visitados */
    color: rgb(255, 255, 255);
}

a:visited {
    /* Enlaces visitados */
    color: rgb(255, 255, 255);
}

a:hover,
:focus {
    color: rgb(153, 72, 6);
    /* El usuario esta sobre el enlace */
}

a:active {
    color: rgb(255, 94, 0);
    /* El usuario hace click en el enlace */
}

@media screen and (max-width: 1450px) {
    #banner {
        background: linear-gradient(left, white, orange, rgb(255, 94, 0));
        /* Para Firefox*/
        background: -webkit-linear-gradient(left, white, orange, rgb(255, 94, 0));
        /* Para Chromium*/
    }

    #cajafoto {
        margin-top: 50px;
    }
    #introduccion {
        margin-left: 230px;
    }
    .habilidades{
        margin-left: 30%;
        margin-top: 30px;

    }
    .aptitudes{
        margin-left: 60%;
        margin-top: -170px;
    }
    footer{
        margin-top: 5%;
    }
}

@media screen and (max-width: 700px) {
    #banner {
        background: linear-gradient(left, rgb(255, 94, 0), orange, white);
        /* Para Firefox*/
        background: -webkit-linear-gradient(left, rgb(255, 94, 0), orange, white);
        /* Para Chromium*/
        font-size: 1;
    }

    #cajafoto {
        height: 100px;
        width: 100px;
    }
   
    #introduccion {
        padding-top: 20px;
        margin-left: 28%;
    }
    .contacto {
        margin-left: 10px;
    }
    .estudios{
        margin-top: 20px;
        margin-left: 60px;
    }
    .experiencia{
        margin-top: 20px;
        margin-left: 75px;
    }

    .habilidades{
        margin-left: 210px;
        margin-top: -900px;

    }
    .aptitudes{
        margin-left: 210px;
        margin-top: 10px;
    }
    footer{
        margin-top: 600px;
    }
}